# - - - - - ACCOUNTS SETTINGS - - - - - #
ACCOUNTS__ACCOUNT1__API_KEY=
ACCOUNTS__ACCOUNT1__API_SECRET=


ACCOUNTS__ACCOUNT2__API_KEY=
ACCOUNTS__ACCOUNT2__API_SECRET=


ACCOUNTS__ACCOUNT3__API_KEY=
ACCOUNTS__ACCOUNT3__API_SECRET=



# - - - - - SQLALCHEMY SETTINGS - - - - - #
ALCHEMY__ECHO=False
ALCHEMY__ECHO_POOL=False
ALCHEMY__POOL_SIZE=25
ALCHEMY__MAX_OVERFLOW=50
ALCHEMY__POOL_TIMEOUT=10
ALCHEMY__POOL_RECYCLE=3600


# - - - - - POSTGRESQL SETTINGS - - - - - #
POSTGRES__HOST=
POSTGRES__PASSWORD=
POSTGRES__DB=
POSTGRES__PORT=5432
POSTGRES__USER=

# - - - - - - DISCORD SETTINGS - - - - - - #
DISCORD__TOKEN=
